.result img{
    max-width: 100%;
    max-height: 200px;
}
.question-text,
.answers{
    font-size:22px;
}
.list-group-item{
    cursor:pointer;
}

.question-text {
    padding-bottom: 30px;
}