<div class='container-fluid'>
    <div class='row'>
        <div class='col-sm-3'>
            <header></header>
        </div>
        <div class='col-sm-9 body-content'>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
<div class="row container app-english">
    <div class="col-md-12">
        <h1> Present Simple, Present Continious, Past Simple </h1>
        <!--Add routes here-->
        <app-header>
        </app-header>
        <router-outlet></router-outlet>
    </div>
</div>